{
  "openapi": "3.1.0",
  "info": {
    "title": "Update Businesss",
    "description": "This collection is for the Update Business of businesses.",
    "contact": {},
    "version": "1.0"
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://api.joinworth.com/case/api/v1",
      "variables": {}
    }
  ],
  "paths": {
    "/businesses/customers/{customerID}": {
      "patch": {
        "tags": ["Update Business"],
        "summary": "Update Business",
        "description": "Update an existing business record based on the provided details.",
        "operationId": "UpdateBusiness",
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": ["f17295d4-5237-4079-8b18-8786eddf49f3"]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ImportBusinessRequest"
                  },
                  {
                    "examples": [
                      {
                        "address_line_1": "480 s Ronald Reagan Blvd",
                        "address_postal_code": "32850",
                        "address_city": "Longwood",
                        "address_state": "FL",
                        "annual_income": 1022233,
                        "external_id": "77388994455034",
                        "official_website": "https://abc.com"
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "external_id": "77388994455034",
                "address_line_1": "480 s Ronald Reagan Blvd",
                "address_city": "Longwood",
                "address_state": "FL",
                "address_postal_code": "32850",
                "official_website": "https://abc.com"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Tue, 26 Nov 2024 09:32:39 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "6426"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Security-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
                  }
                }
              },
              "Cross-Origin-Opener-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Cross-Origin-Resource-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Origin-Agent-Cluster": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "?1"
                  }
                }
              },
              "Referrer-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-referrer"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "none"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Origin"
                  }
                }
              },
              "Access-Control-Allow-Credentials": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "true"
                  }
                }
              },
              "ETag": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "W/\"191a-0Am+j4ht+QAJ79KNLWzQXPZxvAk\""
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Success"
                    },
                    {
                      "examples": [
                        {
                          "status": "success",
                          "message": "Bulk process succeeded",
                          "data": {
                            "runId": "13267172-07d0-4483-932b-4d851441eab2",
                            "result": {
                              "0": {
                                "warnings": [],
                                "userID": "dc2bf5c0-8c39-41aa-b1f2-658991a0deb2",
                                "customerID": "a2cdd2f9-bcb8-48d8-924b-7bf70d3f8a45",
                                "riskMonitoring": true,
                                "data_businesses": {
                                  "id": "1f19291e-2d2c-4f05-bf61-c7888383ae3f",
                                  "name": "Test Business",
                                  "tin": "XXXXX4685",
                                  "address_apartment": null,
                                  "address_line_1": "480 s Ronald Reagan Blvd",
                                  "address_line_2": null,
                                  "address_city": "Longwood",
                                  "address_state": "FL",
                                  "address_postal_code": "32850",
                                  "address_country": null,
                                  "created_at": "2024-11-26T09:32:35.719Z",
                                  "created_by": "dc2bf5c0-8c39-41aa-b1f2-658991a0deb2",
                                  "updated_at": "2024-11-26T09:32:39.814Z",
                                  "updated_by": "f83f60a0-55fc-4c30-a93b-8613f99a55e1",
                                  "mobile": null,
                                  "official_website": null,
                                  "public_website": null,
                                  "social_account": null,
                                  "status": "VERIFIED",
                                  "industry": null,
                                  "mcc_id": null,
                                  "naics_id": null,
                                  "naics_code": null,
                                  "naics_title": null,
                                  "mcc_code": null,
                                  "mcc_title": null,
                                  "is_monitoring_enabled": null,
                                  "subscription": {
                                    "status": null,
                                    "created_at": null,
                                    "updated_at": null
                                  },
                                  "business_names": [
                                    {
                                      "name": "Test Business",
                                      "is_primary": false
                                    },
                                    {
                                      "name": "Test Business",
                                      "is_primary": true
                                    }
                                  ],
                                  "business_addresses": [
                                    {
                                      "line_1": "480 s Ronald Reagan Blvd",
                                      "apartment": null,
                                      "city": "Longwood",
                                      "state": "FL",
                                      "country": "USA",
                                      "postal_code": "32850",
                                      "mobile": null,
                                      "is_primary": true
                                    }
                                  ]
                                },
                                "data_cases": {
                                  "id": "9068687a-3842-469f-84dd-bcd9dcc37ea3",
                                  "applicant_id": "f83f60a0-55fc-4c30-a93b-8613f99a55e1",
                                  "customer_id": "a2cdd2f9-bcb8-48d8-924b-7bf70d3f8a45",
                                  "status": 3,
                                  "created_at": "2024-11-26T09:32:38.620Z",
                                  "created_by": "f83f60a0-55fc-4c30-a93b-8613f99a55e1",
                                  "updated_at": "2024-11-26T09:32:38.620Z",
                                  "updated_by": "f83f60a0-55fc-4c30-a93b-8613f99a55e1",
                                  "business_id": "1f19291e-2d2c-4f05-bf61-c7888383ae3f",
                                  "case_type": 1,
                                  "assignee": null,
                                  "assigner": null
                                },
                                "integration_data": {
                                  "dba1_name": null,
                                  "dba2_name": null,
                                  "dba3_name": null,
                                  "dba4_name": null,
                                  "dba5_name": null,
                                  "address1_line_1": null,
                                  "address2_line_1": null,
                                  "address3_line_1": null,
                                  "address4_line_1": null,
                                  "address5_line_1": null,
                                  "address1_apartment": null,
                                  "address2_apartment": null,
                                  "address3_apartment": null,
                                  "address4_apartment": null,
                                  "address5_apartment": null,
                                  "address1_city": null,
                                  "address2_city": null,
                                  "address3_city": null,
                                  "address4_city": null,
                                  "address5_city": null,
                                  "state": "FL",
                                  "address1_country": null,
                                  "address2_country": null,
                                  "address3_country": null,
                                  "address4_country": null,
                                  "address5_country": null,
                                  "address1_postal_code": null,
                                  "address2_postal_code": null,
                                  "address3_postal_code": null,
                                  "address4_postal_code": null,
                                  "address5_postal_code": null,
                                  "address1_mobile": null,
                                  "address2_mobile": null,
                                  "address3_mobile": null,
                                  "address4_mobile": null,
                                  "address5_mobile": null,
                                  "id": null,
                                  "name": "Test Business",
                                  "tin": "333444685",
                                  "address_line_1": "480 s Ronald Reagan Blvd",
                                  "address_line_2": null,
                                  "address_city": "Longwood",
                                  "address_country": null,
                                  "address_postal_code": "32850",
                                  "mobile": null,
                                  "official_website": null,
                                  "naics_code": null,
                                  "naics_title": null,
                                  "mcc_code": null,
                                  "industry": null,
                                  "quick_add": null,
                                  "external_id": "77388994455034",
                                  "metadata": null,
                                  "owner1_title": null,
                                  "owner2_title": null,
                                  "owner3_title": null,
                                  "owner4_title": null,
                                  "owner5_title": null,
                                  "owner1_first_name": null,
                                  "owner2_first_name": null,
                                  "owner3_first_name": null,
                                  "owner4_first_name": null,
                                  "owner5_first_name": null,
                                  "owner1_last_name": null,
                                  "owner2_last_name": null,
                                  "owner3_last_name": null,
                                  "owner4_last_name": null,
                                  "owner5_last_name": null,
                                  "owner1_email": null,
                                  "owner2_email": null,
                                  "owner3_email": null,
                                  "owner4_email": null,
                                  "owner5_email": null,
                                  "owner1_mobile": null,
                                  "owner2_mobile": null,
                                  "owner3_mobile": null,
                                  "owner4_mobile": null,
                                  "owner5_mobile": null,
                                  "owner1_ssn": null,
                                  "owner2_ssn": null,
                                  "owner3_ssn": null,
                                  "owner4_ssn": null,
                                  "owner5_ssn": null,
                                  "owner1_dob": null,
                                  "owner2_dob": null,
                                  "owner3_dob": null,
                                  "owner4_dob": null,
                                  "owner5_dob": null,
                                  "owner1_address_line_1": null,
                                  "owner2_address_line_1": null,
                                  "owner3_address_line_1": null,
                                  "owner4_address_line_1": null,
                                  "owner5_address_line_1": null,
                                  "owner1_address_line_2": null,
                                  "owner2_address_line_2": null,
                                  "owner3_address_line_2": null,
                                  "owner4_address_line_2": null,
                                  "owner5_address_line_2": null,
                                  "owner1_address_city": null,
                                  "owner2_address_city": null,
                                  "owner3_address_city": null,
                                  "owner4_address_city": null,
                                  "owner5_address_city": null,
                                  "owner1_address_state": null,
                                  "owner2_address_state": null,
                                  "owner3_address_state": null,
                                  "owner4_address_state": null,
                                  "owner5_address_state": null,
                                  "owner1_address_postal": null,
                                  "owner2_address_postal": null,
                                  "owner3_address_postal": null,
                                  "owner4_address_postal": null,
                                  "owner5_address_postal": null,
                                  "owner1_address_country": null,
                                  "owner2_address_country": null,
                                  "owner3_address_country": null,
                                  "owner4_address_country": null,
                                  "owner5_address_country": null,
                                  "owner1_owner_type": null,
                                  "owner2_owner_type": null,
                                  "owner3_owner_type": null,
                                  "owner4_owner_type": null,
                                  "owner5_owner_type": null,
                                  "owner1_ownership_percentage": null,
                                  "owner2_ownership_percentage": null,
                                  "owner3_ownership_percentage": null,
                                  "owner4_ownership_percentage": null,
                                  "owner5_ownership_percentage": null,
                                  "send_invitation": null,
                                  "applicant_first_name": null,
                                  "applicant_last_name": null,
                                  "applicant_email": null,
                                  "year": null,
                                  "is_revenue": 1022233,
                                  "is_operatingexpenses": null,
                                  "is_netincome": null,
                                  "is_cost_of_goods_sold": null,
                                  "bs_totalliabilities": null,
                                  "bs_totalassets": null,
                                  "bs_totalequity": null,
                                  "bs_accountspayable": null,
                                  "bs_accountsreceivable": null,
                                  "bs_cashandcashequivalents": null,
                                  "bs_shortterminvestments": null,
                                  "bs_totalcurrentassets": null,
                                  "bs_totalcurrentliabilities": null,
                                  "bs_totalnoncurrentliabilities": null,
                                  "is_costofgoodsold": null,
                                  "is_grossprofit": null,
                                  "is_incometaxexpense": null,
                                  "is_interestexpense": null,
                                  "number_of_employees": null,
                                  "business_type": null,
                                  "sic_code": null,
                                  "date_of_observation": null,
                                  "lien_count": null,
                                  "business_liens_file_date": null,
                                  "business_liens_status": null,
                                  "business_liens_status_date": null,
                                  "bankruptcy_count": null,
                                  "business_bankruptcies_file_date": null,
                                  "business_bankruptcies_chapter": null,
                                  "business_bankruptcies_voluntary": null,
                                  "business_bankruptcies_status": null,
                                  "business_bankruptcies_status_date": null,
                                  "judgement_count": null,
                                  "business_judgements_file_date": null,
                                  "business_judgements_status": null,
                                  "business_judgements_status_date": null,
                                  "business_judgements_amount": null,
                                  "review_cnt": null,
                                  "review_score": null,
                                  "bank_account_number": null,
                                  "bank_name": null,
                                  "institution_name": null,
                                  "bank_routing_number": null,
                                  "bank_wire_routing_number": null,
                                  "bank_official_name": null,
                                  "bank_account_type": null,
                                  "bank_account_subtype": null,
                                  "bank_account_balance_current": null,
                                  "bank_account_balance_available": null,
                                  "bank_account_balance_limit": null,
                                  "deposit_account": null,
                                  "npi_provider_number": null
                                },
                                "business_customer": {
                                  "business_id": "1f19291e-2d2c-4f05-bf61-c7888383ae3f",
                                  "customer_id": "a2cdd2f9-bcb8-48d8-924b-7bf70d3f8a45",
                                  "created_at": "2024-11-26T09:32:39.870Z",
                                  "created_by": "dc2bf5c0-8c39-41aa-b1f2-658991a0deb2",
                                  "is_monitoring_enabled": true,
                                  "external_id": "77388994455034",
                                  "metadata": null
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json; charset=utf-8"
                },
                "example": {
                  "status": "success",
                  "message": "Bulk process succeeded",
                  "data": {
                    "runId": "13267172-07d0-4483-932b-4d851441eab2",
                    "result": {
                      "0": {
                        "warnings": [],
                        "userID": "dc2bf5c0-8c39-41aa-b1f2-658991a0deb2",
                        "customerID": "a2cdd2f9-bcb8-48d8-924b-7bf70d3f8a45",
                        "riskMonitoring": true,
                        "data_businesses": {
                          "id": "1f19291e-2d2c-4f05-bf61-c7888383ae3f",
                          "name": "Test Business",
                          "tin": "XXXXX4685",
                          "address_apartment": null,
                          "address_line_1": "480 s Ronald Reagan Blvd",
                          "address_line_2": null,
                          "address_city": "Longwood",
                          "address_state": "FL",
                          "address_postal_code": "32850",
                          "address_country": null,
                          "created_at": "2024-11-26T09:32:35.719Z",
                          "created_by": "dc2bf5c0-8c39-41aa-b1f2-658991a0deb2",
                          "updated_at": "2024-11-26T09:32:39.814Z",
                          "updated_by": "f83f60a0-55fc-4c30-a93b-8613f99a55e1",
                          "mobile": null,
                          "official_website": null,
                          "public_website": null,
                          "social_account": null,
                          "status": "VERIFIED",
                          "industry": null,
                          "mcc_id": null,
                          "naics_id": null,
                          "naics_code": null,
                          "naics_title": null,
                          "mcc_code": null,
                          "mcc_title": null,
                          "is_monitoring_enabled": null,
                          "subscription": {
                            "status": null,
                            "created_at": null,
                            "updated_at": null
                          },
                          "business_names": [
                            {
                              "name": "Test Business",
                              "is_primary": false
                            },
                            {
                              "name": "Test Business",
                              "is_primary": true
                            }
                          ],
                          "business_addresses": [
                            {
                              "line_1": "480 s Ronald Reagan Blvd",
                              "apartment": null,
                              "city": "Longwood",
                              "state": "FL",
                              "country": "USA",
                              "postal_code": "32850",
                              "mobile": null,
                              "is_primary": true
                            }
                          ]
                        },
                        "data_cases": {
                          "id": "9068687a-3842-469f-84dd-bcd9dcc37ea3",
                          "applicant_id": "f83f60a0-55fc-4c30-a93b-8613f99a55e1",
                          "customer_id": "a2cdd2f9-bcb8-48d8-924b-7bf70d3f8a45",
                          "status": 3,
                          "created_at": "2024-11-26T09:32:38.620Z",
                          "created_by": "f83f60a0-55fc-4c30-a93b-8613f99a55e1",
                          "updated_at": "2024-11-26T09:32:38.620Z",
                          "updated_by": "f83f60a0-55fc-4c30-a93b-8613f99a55e1",
                          "business_id": "1f19291e-2d2c-4f05-bf61-c7888383ae3f",
                          "case_type": 1,
                          "assignee": null,
                          "assigner": null
                        },
                        "integration_data": {
                          "dba1_name": null,
                          "dba2_name": null,
                          "dba3_name": null,
                          "dba4_name": null,
                          "dba5_name": null,
                          "address1_line_1": null,
                          "address2_line_1": null,
                          "address3_line_1": null,
                          "address4_line_1": null,
                          "address5_line_1": null,
                          "address1_apartment": null,
                          "address2_apartment": null,
                          "address3_apartment": null,
                          "address4_apartment": null,
                          "address5_apartment": null,
                          "address1_city": null,
                          "address2_city": null,
                          "address3_city": null,
                          "address4_city": null,
                          "address5_city": null,
                          "state": "FL",
                          "address1_country": null,
                          "address2_country": null,
                          "address3_country": null,
                          "address4_country": null,
                          "address5_country": null,
                          "address1_postal_code": null,
                          "address2_postal_code": null,
                          "address3_postal_code": null,
                          "address4_postal_code": null,
                          "address5_postal_code": null,
                          "address1_mobile": null,
                          "address2_mobile": null,
                          "address3_mobile": null,
                          "address4_mobile": null,
                          "address5_mobile": null,
                          "id": null,
                          "name": "Test Business",
                          "tin": "333444685",
                          "address_line_1": "480 s Ronald Reagan Blvd",
                          "address_line_2": null,
                          "address_city": "Longwood",
                          "address_country": null,
                          "address_postal_code": "32850",
                          "mobile": null,
                          "official_website": null,
                          "naics_code": null,
                          "naics_title": null,
                          "mcc_code": null,
                          "industry": null,
                          "quick_add": null,
                          "external_id": "77388994455034",
                          "metadata": null,
                          "owner1_title": null,
                          "owner2_title": null,
                          "owner3_title": null,
                          "owner4_title": null,
                          "owner5_title": null,
                          "owner1_first_name": null,
                          "owner2_first_name": null,
                          "owner3_first_name": null,
                          "owner4_first_name": null,
                          "owner5_first_name": null,
                          "owner1_last_name": null,
                          "owner2_last_name": null,
                          "owner3_last_name": null,
                          "owner4_last_name": null,
                          "owner5_last_name": null,
                          "owner1_email": null,
                          "owner2_email": null,
                          "owner3_email": null,
                          "owner4_email": null,
                          "owner5_email": null,
                          "owner1_mobile": null,
                          "owner2_mobile": null,
                          "owner3_mobile": null,
                          "owner4_mobile": null,
                          "owner5_mobile": null,
                          "owner1_ssn": null,
                          "owner2_ssn": null,
                          "owner3_ssn": null,
                          "owner4_ssn": null,
                          "owner5_ssn": null,
                          "owner1_dob": null,
                          "owner2_dob": null,
                          "owner3_dob": null,
                          "owner4_dob": null,
                          "owner5_dob": null,
                          "owner1_address_line_1": null,
                          "owner2_address_line_1": null,
                          "owner3_address_line_1": null,
                          "owner4_address_line_1": null,
                          "owner5_address_line_1": null,
                          "owner1_address_line_2": null,
                          "owner2_address_line_2": null,
                          "owner3_address_line_2": null,
                          "owner4_address_line_2": null,
                          "owner5_address_line_2": null,
                          "owner1_address_city": null,
                          "owner2_address_city": null,
                          "owner3_address_city": null,
                          "owner4_address_city": null,
                          "owner5_address_city": null,
                          "owner1_address_state": null,
                          "owner2_address_state": null,
                          "owner3_address_state": null,
                          "owner4_address_state": null,
                          "owner5_address_state": null,
                          "owner1_address_postal": null,
                          "owner2_address_postal": null,
                          "owner3_address_postal": null,
                          "owner4_address_postal": null,
                          "owner5_address_postal": null,
                          "owner1_address_country": null,
                          "owner2_address_country": null,
                          "owner3_address_country": null,
                          "owner4_address_country": null,
                          "owner5_address_country": null,
                          "owner1_owner_type": null,
                          "owner2_owner_type": null,
                          "owner3_owner_type": null,
                          "owner4_owner_type": null,
                          "owner5_owner_type": null,
                          "owner1_ownership_percentage": null,
                          "owner2_ownership_percentage": null,
                          "owner3_ownership_percentage": null,
                          "owner4_ownership_percentage": null,
                          "owner5_ownership_percentage": null,
                          "send_invitation": null,
                          "applicant_first_name": null,
                          "applicant_last_name": null,
                          "applicant_email": null,
                          "year": null,
                          "is_revenue": 1022233,
                          "is_operatingexpenses": null,
                          "is_netincome": null,
                          "is_cost_of_goods_sold": null,
                          "bs_totalliabilities": null,
                          "bs_totalassets": null,
                          "bs_totalequity": null,
                          "bs_accountspayable": null,
                          "bs_accountsreceivable": null,
                          "bs_cashandcashequivalents": null,
                          "bs_shortterminvestments": null,
                          "bs_totalcurrentassets": null,
                          "bs_totalcurrentliabilities": null,
                          "bs_totalnoncurrentliabilities": null,
                          "is_costofgoodsold": null,
                          "is_grossprofit": null,
                          "is_incometaxexpense": null,
                          "is_interestexpense": null,
                          "number_of_employees": null,
                          "business_type": null,
                          "sic_code": null,
                          "date_of_observation": null,
                          "lien_count": null,
                          "business_liens_file_date": null,
                          "business_liens_status": null,
                          "business_liens_status_date": null,
                          "bankruptcy_count": null,
                          "business_bankruptcies_file_date": null,
                          "business_bankruptcies_chapter": null,
                          "business_bankruptcies_voluntary": null,
                          "business_bankruptcies_status": null,
                          "business_bankruptcies_status_date": null,
                          "judgement_count": null,
                          "business_judgements_file_date": null,
                          "business_judgements_status": null,
                          "business_judgements_status_date": null,
                          "business_judgements_amount": null,
                          "review_cnt": null,
                          "review_score": null,
                          "bank_account_number": null,
                          "bank_name": null,
                          "institution_name": null,
                          "bank_routing_number": null,
                          "bank_wire_routing_number": null,
                          "bank_official_name": null,
                          "bank_account_type": null,
                          "bank_account_subtype": null,
                          "bank_account_balance_current": null,
                          "bank_account_balance_available": null,
                          "bank_account_balance_limit": null,
                          "deposit_account": null,
                          "npi_provider_number": null
                        },
                        "business_customer": {
                          "business_id": "1f19291e-2d2c-4f05-bf61-c7888383ae3f",
                          "customer_id": "a2cdd2f9-bcb8-48d8-924b-7bf70d3f8a45",
                          "created_at": "2024-11-26T09:32:39.870Z",
                          "created_by": "dc2bf5c0-8c39-41aa-b1f2-658991a0deb2",
                          "is_monitoring_enabled": true,
                          "external_id": "77388994455034",
                          "metadata": null
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Tue, 26 Nov 2024 09:33:10 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "328"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Security-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
                  }
                }
              },
              "Cross-Origin-Opener-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Cross-Origin-Resource-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Origin-Agent-Cluster": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "?1"
                  }
                }
              },
              "Referrer-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-referrer"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "none"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Origin"
                  }
                }
              },
              "Access-Control-Allow-Credentials": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "true"
                  }
                }
              },
              "ETag": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "W/\"148-/2HSFsAO91RX4rlW5j4SYEvc07k\""
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorBadRequest1"
                    },
                    {
                      "examples": [
                        {
                          "status": "fail",
                          "message": "Bulk process had errors",
                          "errorCode": null,
                          "data": {
                            "runId": "78d8036f-06b9-4ca6-8b18-702841bfb61b",
                            "failed_rows": {
                              "0": {
                                "message": "Error with 1 fields. First error: 'The business external ID already exists for this customer' --- Please execute /validate first for more details",
                                "data": {}
                              }
                            },
                            "result": {}
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json; charset=utf-8"
                },
                "example": {
                  "status": "fail",
                  "message": "Bulk process had errors",
                  "errorCode": null,
                  "data": {
                    "runId": "78d8036f-06b9-4ca6-8b18-702841bfb61b",
                    "failed_rows": {
                      "0": {
                        "message": "Error with 1 fields. First error: 'The business external ID already exists for this customer' --- Please execute /validate first for more details",
                        "data": {}
                      }
                    },
                    "result": {}
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Tue, 26 Nov 2024 09:49:07 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "145"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Security-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
                  }
                }
              },
              "Cross-Origin-Opener-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Cross-Origin-Resource-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "same-origin"
                  }
                }
              },
              "Origin-Agent-Cluster": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "?1"
                  }
                }
              },
              "Referrer-Policy": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "no-referrer"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Permitted-Cross-Domain-Policies": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "none"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "0"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "Origin"
                  }
                }
              },
              "Access-Control-Allow-Credentials": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "true"
                  }
                }
              },
              "ETag": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string",
                      "contentMediaType": "text/plain"
                    },
                    "example": "W/\"91-HsCbOafj9k+6lDkP+i911e5MFNs\""
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ErrorUnauthenticated1"
                    },
                    {
                      "examples": [
                        {
                          "status": "fail",
                          "message": "Authorization header not present",
                          "errorCode": "UNAUTHENTICATED",
                          "data": {
                            "errorName": "AuthenticationMiddlewareError"
                          }
                        }
                      ]
                    }
                  ],
                  "contentMediaType": "application/json; charset=utf-8"
                },
                "example": {
                  "status": "fail",
                  "message": "Authorization header not present",
                  "errorCode": "UNAUTHENTICATED",
                  "data": {
                    "errorName": "AuthenticationMiddlewareError"
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [
          {
            "bearer": []
          }
        ]
      },
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ImportBusinessRequest": {
        "title": "ImportBusinessRequest",
        "required": ["external_id"],
        "type": "object",
        "properties": {
          "external_id": {
            "type": "string",
            "description": "A unique identifier for this record off of Worth's platform, sometimes from other, external systems",
            "example": "9485ac2e-02ec-7421-9ba2-bc6814526586"
          },
          "name": {
            "type": "string",
            "description": "The official business name.",
            "example": "Acme Corporation"
          },
          "tin": {
            "type": "string",
            "description": "Taxpayer Identification Number issued by the government. Nine numeric digits with or without dash(es).",
            "example": "123456789"
          },
          "address_line_1": {
            "type": "string",
            "description": "Primary street address of the business.",
            "example": "123 Main St"
          },
          "address_line_2": {
            "type": "string",
            "description": "Secondary address information (suite, apt, etc.).",
            "example": "Suite 400"
          },
          "address_city": {
            "type": "string",
            "description": "City of the business address.",
            "example": "Metropolis"
          },
          "address_state": {
            "type": "string",
            "description": "State or region of the business address.",
            "example": "NY"
          },
          "address_country": {
            "type": "string",
            "description": "Country of the business address.",
            "example": "USA"
          },
          "address_postal_code": {
            "type": "string",
            "description": "Postal or ZIP code for the business address.",
            "example": "10101"
          },
          "mobile": {
            "type": "string",
            "description": "Company's primary contact number.",
            "example": "5551234567"
          },
          "official_website": {
            "type": "string",
            "description": "URL of the company's official website.",
            "example": "https://www.acme-corp.com"
          },
          "naics_code": {
            "type": "number",
            "description": "North American Industry Classification System code. To find a particular code, please use https://www.naics.com/search/",
            "example": 541330
          },
          "naics_title": {
            "type": "string",
            "description": "Title corresponding to the NAICS code.",
            "example": "Engineering Services"
          },
          "mcc_code": {
            "type": "number",
            "description": "Merchant Category Code used for classifying business activities.",
            "example": 1234
          },
          "industry": {
            "type": "string",
            "description": "General industry classification.",
            "example": "Finance and Insurance"
          },
          "is_monitoring_enabled": {
            "type": "boolean",
            "description": "Whether ongoing monitoring is enabled for this business.",
            "example": true
          },
          "applicant_id": {
            "type": "string",
            "description": "Identifier for the loan or service applicant.",
            "example": "2245be8a-31ac-9441-1ae3-cb8654198656"
          },
          "send_invitation": {
            "type": "boolean",
            "description": "Whether to send an invitation email to the applicant.",
            "example": false
          },
          "applicant_first_name": {
            "type": "string",
            "description": "First name of the applicant.",
            "example": "John"
          },
          "applicant_last_name": {
            "type": "string",
            "description": "Last name of the applicant.",
            "example": "Doe"
          },
          "applicant_email": {
            "type": "string",
            "description": "Email address of the applicant.",
            "example": "john.doe@example.com"
          },
          "dba1_name": {
            "type": "string",
            "description": "“Doing Business As” name, if different from legal name.",
            "example": "Acme Trading"
          },
          "address1_line_1": {
            "type": "string",
            "description": "Primary street address for the DBA location.",
            "example": "456 Elm St"
          },
          "address1_apartment": {
            "type": "string",
            "description": "Apartment or suite number for the DBA address.",
            "example": "Apt 12B"
          },
          "address1_city": {
            "type": "string",
            "description": "City for the DBA address.",
            "example": "Gotham"
          },
          "address1_state": {
            "type": "string",
            "description": "State for the DBA address (Two-letter abbreviation).",
            "example": "CA"
          },
          "address1_country": {
            "type": "string",
            "description": "Country for the DBA address.",
            "example": "USA"
          },
          "address1_postal_code": {
            "type": "string",
            "description": "Postal code for the DBA address.",
            "example": "90210"
          },
          "address1_mobile": {
            "type": "string",
            "description": "Contact number for the DBA location.",
            "example": "5559876543"
          },
          "year_created": {
            "type": "number",
            "description": "Year the business was established.",
            "example": 2015
          },
          "annual_total_income": {
            "type": "number",
            "description": "Total revenue in the last fiscal year.",
            "example": 500000
          },
          "total_wages": {
            "type": "number",
            "description": "Total wages paid to employees last year.",
            "example": 200000
          },
          "annual_net_income": {
            "type": "number",
            "description": "Net profit after expenses last year.",
            "example": 300000
          },
          "cost_of_goods_sold": {
            "type": "number",
            "description": "Direct costs attributable to goods sold.",
            "example": 150000
          },
          "total_liabilities": {
            "type": "number",
            "description": "Sum of all current and non-current liabilities.",
            "example": 100000
          },
          "total_assets": {
            "type": "number",
            "description": "Sum of all current and non-current assets.",
            "example": 600000
          },
          "total_equity": {
            "type": "number",
            "description": "Sum of all current equity.",
            "example": 500000
          },
          "total_accounts_payable": {
            "type": "number",
            "description": "Amount owed to suppliers and vendors.",
            "example": 25000
          },
          "total_accounts_recievable": {
            "type": "number",
            "description": "Outstanding amounts owed by customers.",
            "example": 30000
          },
          "total_cash_and_cash_equivalents": {
            "type": "number",
            "description": "Liquid assets on hand.",
            "example": 50000
          },
          "total_short_term_investments": {
            "type": "number",
            "description": "Investments easily convertible to cash within a year.",
            "example": 10000
          },
          "total_current_assets": {
            "type": "number",
            "description": "Assets expected to be used or sold within one year.",
            "example": 120000
          },
          "total_current_liabilities": {
            "type": "number",
            "description": "Obligations due within one year.",
            "example": 40000
          },
          "non_current_liablities": {
            "type": "number",
            "description": "Long-term obligations not due within one year.",
            "example": 60000
          },
          "annual_cost_of_goods_sold": {
            "type": "number",
            "description": "COGS aggregated over the fiscal year.",
            "example": 150000
          },
          "annual_gross_profit": {
            "type": "number",
            "description": "Revenue minus cost of goods sold.",
            "example": 350000
          },
          "annual_taxes_paid": {
            "type": "number",
            "description": "Total taxes paid in the fiscal year.",
            "example": 50000
          },
          "annual_interest_expenses": {
            "type": "number",
            "description": "Interest paid on debts during the year.",
            "example": 10000
          },
          "number_of_employees": {
            "type": "number",
            "description": "Total full-time equivalent employees.",
            "example": 25
          },
          "business_type": {
            "type": "string",
            "description": "Legal structure of the business.",
            "example": "LLC"
          },
          "sic_code": {
            "type": "number",
            "description": "Standard Industrial Classification code. Codes may be found here: https://www.osha.gov/data/sic-search",
            "example": 5812
          },
          "business_liens": {
            "type": "number",
            "description": "Total number of liens recorded against the business.",
            "example": 3
          },
          "business_liens_file_date": {
            "type": "string",
            "description": "Date the most recent business lien was filed (ISO 8601 format).",
            "example": "2025-01-15"
          },
          "business_liens_status": {
            "type": "string",
            "description": "Current status of the business lien."
          },
          "business_liens_status_date": {
            "type": "string",
            "description": "Date when the business lien status was last updated (ISO 8601 format).",
            "example": "2025-02-01"
          },
          "business_bankruptcies": {
            "type": "number",
            "description": "Total number of bankruptcy filings for the business.",
            "example": 1
          },
          "business_bankruptcies_file_date": {
            "type": "string",
            "description": "Date the most recent bankruptcy case was filed (ISO 8601 format).",
            "example": "2024-09-10"
          },
          "business_bankruptcies_chapter": {
            "type": "string",
            "description": "Chapter of the bankruptcy code under which the case was filed."
          },
          "business_bankruptcies_voluntary": {
            "type": "string",
            "description": "Whether the bankruptcy was filed voluntarily by the business or involuntarily by creditors."
          },
          "business_bankruptcies_status": {
            "type": "string",
            "description": "Current status of the bankruptcy proceeding."
          },
          "business_bankruptcies_status_date": {
            "type": "string",
            "description": "Date when the bankruptcy status was last updated (ISO 8601 format).",
            "example": "2025-03-20"
          },
          "business_judgements": {
            "type": "number",
            "description": "Total number of court judgments recorded against the business.",
            "example": 2
          },
          "business_judgements_file_date": {
            "type": "string",
            "description": "Date the most recent court judgment was entered (ISO 8601 format).",
            "example": "2025-03-05"
          },
          "business_judgements_status": {
            "type": "string",
            "description": "Current status of the court judgment."
          },
          "business_judgements_status_date": {
            "type": "string",
            "description": "Date when the judgment status was last updated (ISO 8601 format).",
            "example": "2025-06-01"
          },
          "business_judgements_amount": {
            "type": "number",
            "description": "Monetary amount awarded in the court judgment (in dollars).",
            "example": 50000
          },
          "social_review_count": {
            "type": "number",
            "description": "Total number of customer reviews aggregated from public sources.",
            "example": 128
          },
          "social_review_score": {
            "type": "number",
            "description": "Average review rating on a 1–5 scale from aggregated social reviews.",
            "example": 4.2
          },          
          "score_retrieval_date": {
            "type": "string",
            "description": "Date on which credit or risk score was fetched.",
            "example": "2025-06-16"
          },
          "owner1_title": {
            "type": "string",
            "description": "Official title of the first owner.",
            "enum": [
              "Partner",
              "Limited Partner",
              "Director",
              "Chief Accounting Officer",
              "Chief Executive Officer",
              "Chief Operations Officer",
              "President",
              "Vice President",
              "Treasurer",
              "Assistant Treasurer",
              "1% Shareholder",
              "Shareholder",
              "Controller",
              "Managing Member",
              "Owner",
              "Sole Proprietor",
              "Executor",
              "Beneficiary",
              "Trustee",
              "Administrator",
              "Assistant Secretary",
              "Authorized Person",
              "Chairman of the Board",
              "Chief Compliance Officer",
              "Chief Financial Officer",
              "Chief Legal Officer",
              "Chief Technology Officer",
              "Co-Founder",
              "Founder",
              "General Partner",
              "Managing Partner",
              "Manager",
              "Member",
              "Principal",
              "Registered Agent",
              "Secretary",
              "Chairperson"
            ]
          },
          "owner1_first_name": {
            "type": "string",
            "description": "First name of the first owner.",
            "example": "Jane"
          },
          "owner1_last_name": {
            "type": "string",
            "description": "Last name of the first owner.",
            "example": "Smith"
          },
          "owner1_email": {
            "type": "string",
            "description": "Email of the first owner.",
            "example": "jane.smith@example.com"
          },
          "owner1_mobile": {
            "type": "string",
            "description": "Mobile phone of the first owner.",
            "example": "+1-555-765-4321"
          },
          "owner1_ssn": {
            "type": "string",
            "description": "Social Security Number of the first owner.",
            "example": "123-45-6789"
          },
          "owner1_dob": {
            "type": "string",
            "description": "Date of birth of the first owner.",
            "example": "1980-01-01"
          },
          "owner1_address_line_1": {
            "type": "string",
            "description": "Primary street address of the first owner.",
            "example": "789 Oak Ave"
          },
          "owner1_address_line_2": {
            "type": "string",
            "description": "Secondary address information for the first owner.",
            "example": "Floor 2"
          },
          "owner1_address_city": {
            "type": "string",
            "description": "City for the first owner’s address.",
            "example": "Star City"
          },
          "owner1_address_state": {
            "type": "string",
            "description": "State for the first owner’s address.",
            "example": "IL"
          },
          "owner1_address_postal": {
            "type": "string",
            "description": "Postal code for the first owner’s address.",
            "example": "60601"
          },
          "owner1_address_country": {
            "type": "string",
            "description": "Country for the first owner’s address.",
            "example": "USA"
          },
          "owner1_owner_type": {
            "type": "string",
            "enum": ["BENEFICIARY", "CONTROL"],
            "description": "Role of the first owner (beneficiary or controlling party). Only one owner may be of type CONTROL",
            "example": "BENEFICIARY"
          },
          "owner1_ownership_percentage": {
            "type": "number",
            "description": "Percentage ownership held by the first owner.",
            "example": 100
          },
          "bank_account_number": {
            "type": "string",
            "description": "Identifier for the company’s bank account.",
            "example": "000123456789"
          },
          "bank_name": {
            "type": "string",
            "description": "Name of the bank where the account is held.",
            "example": "First National Bank"
          },
          "institution_name": {
            "type": "string",
            "description": "Official institution name for banking relationships.",
            "example": "Acme Financial Institution"
          },
          "bank_routing_number": {
            "type": "string",
            "description": "ABA routing number for the bank.",
            "example": "111000025"
          },
          "bank_wire_routing_number": {
            "type": "string",
            "description": "Wire transfer routing number.",
            "example": "111000026"
          },
          "bank_official_name": {
            "type": "string",
            "description": "Legal name of the bank entity.",
            "example": "First National Bank, NA"
          },
          "bank_account_type": {
            "type": "string",
            "description": "Type of bank account.",
            "example": "checking"
          },
          "bank_account_subtype": {
            "type": "string",
            "description": "Subtype of the bank account.",
            "example": "business"
          },
          "bank_account_balance_current": {
            "type": "number",
            "description": "Current recorded balance of the account.",
            "example": 250000
          },
          "bank_account_balance_available": {
            "type": "number",
            "description": "Available balance for withdrawal.",
            "example": 240000
          },
          "bank_account_balance_limit": {
            "type": "number",
            "description": "Overdraft or credit limit on the account.",
            "example": 5000
          },
          "deposit_account": {
            "type": "boolean",
            "description": "Whether this account is used for deposits.",
            "example": true
          },
          "npi": {
            "type": "string",
            "description": "National Provider Identifier (for healthcare entities).",
            "example": "1234567890"
          }
        },
        "examples": [
          {
            "external_id": "77388994455034",
            "name": "Test Business",
            "tin": "333444685",
            "address_line_1": "480 s Ronald Reagan Blvd",
            "address_city": "Longwood",
            "address_state": "FL",
            "address_postal_code": "32850"
          }
        ]
      },
      "Success": {
        "title": "Success",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/Data"
          }
        },
        "examples": [
          {
            "status": "success",
            "message": "Bulk process succeeded",
            "data": {
              "runId": "13267172-07d0-4483-932b-4d851441eab2",
              "result": {
                "0": {
                  "warnings": [],
                  "userID": "dc2bf5c0-8c39-41aa-b1f2-658991a0deb2",
                  "customerID": "a2cdd2f9-bcb8-48d8-924b-7bf70d3f8a45",
                  "riskMonitoring": true,
                  "data_businesses": {
                    "id": "1f19291e-2d2c-4f05-bf61-c7888383ae3f",
                    "name": "Test Business",
                    "tin": "XXXXX4685",
                    "address_apartment": null,
                    "address_line_1": "480 s Ronald Reagan Blvd",
                    "address_line_2": null,
                    "address_city": "Longwood",
                    "address_state": "FL",
                    "address_postal_code": "32850",
                    "address_country": null,
                    "created_at": "2024-11-26T09:32:35.719Z",
                    "created_by": "dc2bf5c0-8c39-41aa-b1f2-658991a0deb2",
                    "updated_at": "2024-11-26T09:32:39.814Z",
                    "updated_by": "f83f60a0-55fc-4c30-a93b-8613f99a55e1",
                    "mobile": null,
                    "official_website": null,
                    "public_website": null,
                    "social_account": null,
                    "status": "VERIFIED",
                    "industry": null,
                    "mcc_id": null,
                    "naics_id": null,
                    "naics_code": null,
                    "naics_title": null,
                    "mcc_code": null,
                    "mcc_title": null,
                    "is_monitoring_enabled": null,
                    "subscription": {
                      "status": null,
                      "created_at": null,
                      "updated_at": null
                    },
                    "business_names": [
                      {
                        "name": "Test Business",
                        "is_primary": false
                      },
                      {
                        "name": "Test Business",
                        "is_primary": true
                      }
                    ],
                    "business_addresses": [
                      {
                        "line_1": "480 s Ronald Reagan Blvd",
                        "apartment": null,
                        "city": "Longwood",
                        "state": "FL",
                        "country": "USA",
                        "postal_code": "32850",
                        "mobile": null,
                        "is_primary": true
                      }
                    ]
                  },
                  "data_cases": {
                    "id": "9068687a-3842-469f-84dd-bcd9dcc37ea3",
                    "applicant_id": "f83f60a0-55fc-4c30-a93b-8613f99a55e1",
                    "customer_id": "a2cdd2f9-bcb8-48d8-924b-7bf70d3f8a45",
                    "status": 3,
                    "created_at": "2024-11-26T09:32:38.620Z",
                    "created_by": "f83f60a0-55fc-4c30-a93b-8613f99a55e1",
                    "updated_at": "2024-11-26T09:32:38.620Z",
                    "updated_by": "f83f60a0-55fc-4c30-a93b-8613f99a55e1",
                    "business_id": "1f19291e-2d2c-4f05-bf61-c7888383ae3f",
                    "case_type": 1,
                    "assignee": null,
                    "assigner": null
                  },
                  "integration_data": {
                    "dba1_name": null,
                    "dba2_name": null,
                    "dba3_name": null,
                    "dba4_name": null,
                    "dba5_name": null,
                    "address1_line_1": null,
                    "address2_line_1": null,
                    "address3_line_1": null,
                    "address4_line_1": null,
                    "address5_line_1": null,
                    "address1_apartment": null,
                    "address2_apartment": null,
                    "address3_apartment": null,
                    "address4_apartment": null,
                    "address5_apartment": null,
                    "address1_city": null,
                    "address2_city": null,
                    "address3_city": null,
                    "address4_city": null,
                    "address5_city": null,
                    "state": "FL",
                    "address1_country": null,
                    "address2_country": null,
                    "address3_country": null,
                    "address4_country": null,
                    "address5_country": null,
                    "address1_postal_code": null,
                    "address2_postal_code": null,
                    "address3_postal_code": null,
                    "address4_postal_code": null,
                    "address5_postal_code": null,
                    "address1_mobile": null,
                    "address2_mobile": null,
                    "address3_mobile": null,
                    "address4_mobile": null,
                    "address5_mobile": null,
                    "id": null,
                    "name": "Test Business",
                    "tin": "333444685",
                    "address_line_1": "480 s Ronald Reagan Blvd",
                    "address_line_2": null,
                    "address_city": "Longwood",
                    "address_country": null,
                    "address_postal_code": "32850",
                    "mobile": null,
                    "official_website": null,
                    "naics_code": null,
                    "naics_title": null,
                    "mcc_code": null,
                    "industry": null,
                    "quick_add": null,
                    "external_id": "77388994455034",
                    "metadata": null,
                    "owner1_title": null,
                    "owner2_title": null,
                    "owner3_title": null,
                    "owner4_title": null,
                    "owner5_title": null,
                    "owner1_first_name": null,
                    "owner2_first_name": null,
                    "owner3_first_name": null,
                    "owner4_first_name": null,
                    "owner5_first_name": null,
                    "owner1_last_name": null,
                    "owner2_last_name": null,
                    "owner3_last_name": null,
                    "owner4_last_name": null,
                    "owner5_last_name": null,
                    "owner1_email": null,
                    "owner2_email": null,
                    "owner3_email": null,
                    "owner4_email": null,
                    "owner5_email": null,
                    "owner1_mobile": null,
                    "owner2_mobile": null,
                    "owner3_mobile": null,
                    "owner4_mobile": null,
                    "owner5_mobile": null,
                    "owner1_ssn": null,
                    "owner2_ssn": null,
                    "owner3_ssn": null,
                    "owner4_ssn": null,
                    "owner5_ssn": null,
                    "owner1_dob": null,
                    "owner2_dob": null,
                    "owner3_dob": null,
                    "owner4_dob": null,
                    "owner5_dob": null,
                    "owner1_address_line_1": null,
                    "owner2_address_line_1": null,
                    "owner3_address_line_1": null,
                    "owner4_address_line_1": null,
                    "owner5_address_line_1": null,
                    "owner1_address_line_2": null,
                    "owner2_address_line_2": null,
                    "owner3_address_line_2": null,
                    "owner4_address_line_2": null,
                    "owner5_address_line_2": null,
                    "owner1_address_city": null,
                    "owner2_address_city": null,
                    "owner3_address_city": null,
                    "owner4_address_city": null,
                    "owner5_address_city": null,
                    "owner1_address_state": null,
                    "owner2_address_state": null,
                    "owner3_address_state": null,
                    "owner4_address_state": null,
                    "owner5_address_state": null,
                    "owner1_address_postal": null,
                    "owner2_address_postal": null,
                    "owner3_address_postal": null,
                    "owner4_address_postal": null,
                    "owner5_address_postal": null,
                    "owner1_address_country": null,
                    "owner2_address_country": null,
                    "owner3_address_country": null,
                    "owner4_address_country": null,
                    "owner5_address_country": null,
                    "owner1_owner_type": null,
                    "owner2_owner_type": null,
                    "owner3_owner_type": null,
                    "owner4_owner_type": null,
                    "owner5_owner_type": null,
                    "owner1_ownership_percentage": null,
                    "owner2_ownership_percentage": null,
                    "owner3_ownership_percentage": null,
                    "owner4_ownership_percentage": null,
                    "owner5_ownership_percentage": null,
                    "send_invitation": null,
                    "applicant_first_name": null,
                    "applicant_last_name": null,
                    "applicant_email": null,
                    "year": null,
                    "is_revenue": 1022233,
                    "is_operatingexpenses": null,
                    "is_netincome": null,
                    "is_cost_of_goods_sold": null,
                    "bs_totalliabilities": null,
                    "bs_totalassets": null,
                    "bs_totalequity": null,
                    "bs_accountspayable": null,
                    "bs_accountsreceivable": null,
                    "bs_cashandcashequivalents": null,
                    "bs_shortterminvestments": null,
                    "bs_totalcurrentassets": null,
                    "bs_totalcurrentliabilities": null,
                    "bs_totalnoncurrentliabilities": null,
                    "is_costofgoodsold": null,
                    "is_grossprofit": null,
                    "is_incometaxexpense": null,
                    "is_interestexpense": null,
                    "number_of_employees": null,
                    "business_type": null,
                    "sic_code": null,
                    "date_of_observation": null,
                    "lien_count": null,
                    "business_liens_file_date": null,
                    "business_liens_status": null,
                    "business_liens_status_date": null,
                    "bankruptcy_count": null,
                    "business_bankruptcies_file_date": null,
                    "business_bankruptcies_chapter": null,
                    "business_bankruptcies_voluntary": null,
                    "business_bankruptcies_status": null,
                    "business_bankruptcies_status_date": null,
                    "judgement_count": null,
                    "business_judgements_file_date": null,
                    "business_judgements_status": null,
                    "business_judgements_status_date": null,
                    "business_judgements_amount": null,
                    "review_cnt": null,
                    "review_score": null,
                    "bank_account_number": null,
                    "bank_name": null,
                    "institution_name": null,
                    "bank_routing_number": null,
                    "bank_wire_routing_number": null,
                    "bank_official_name": null,
                    "bank_account_type": null,
                    "bank_account_subtype": null,
                    "bank_account_balance_current": null,
                    "bank_account_balance_available": null,
                    "bank_account_balance_limit": null,
                    "deposit_account": null,
                    "npi_provider_number": null
                  },
                  "business_customer": {
                    "business_id": "1f19291e-2d2c-4f05-bf61-c7888383ae3f",
                    "customer_id": "a2cdd2f9-bcb8-48d8-924b-7bf70d3f8a45",
                    "created_at": "2024-11-26T09:32:39.870Z",
                    "created_by": "dc2bf5c0-8c39-41aa-b1f2-658991a0deb2",
                    "is_monitoring_enabled": true,
                    "external_id": "77388994455034",
                    "metadata": null
                  }
                }
              }
            }
          }
        ]
      },
      "Data": {
        "title": "Data",
        "type": "object",
        "properties": {
          "runId": {
            "type": "string"
          },
          "result": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/generatedObject"
            }
          }
        },
        "examples": [
          {
            "runId": "13267172-07d0-4483-932b-4d851441eab2",
            "result": {
              "0": {
                "warnings": [],
                "userID": "dc2bf5c0-8c39-41aa-b1f2-658991a0deb2",
                "customerID": "a2cdd2f9-bcb8-48d8-924b-7bf70d3f8a45",
                "riskMonitoring": true,
                "data_businesses": {
                  "id": "1f19291e-2d2c-4f05-bf61-c7888383ae3f",
                  "name": "Test Business",
                  "tin": "XXXXX4685",
                  "address_apartment": null,
                  "address_line_1": "480 s Ronald Reagan Blvd",
                  "address_line_2": null,
                  "address_city": "Longwood",
                  "address_state": "FL",
                  "address_postal_code": "32850",
                  "address_country": null,
                  "created_at": "2024-11-26T09:32:35.719Z",
                  "created_by": "dc2bf5c0-8c39-41aa-b1f2-658991a0deb2",
                  "updated_at": "2024-11-26T09:32:39.814Z",
                  "updated_by": "f83f60a0-55fc-4c30-a93b-8613f99a55e1",
                  "mobile": null,
                  "official_website": null,
                  "public_website": null,
                  "social_account": null,
                  "status": "VERIFIED",
                  "industry": null,
                  "mcc_id": null,
                  "naics_id": null,
                  "naics_code": null,
                  "naics_title": null,
                  "mcc_code": null,
                  "mcc_title": null,
                  "is_monitoring_enabled": null,
                  "subscription": {
                    "status": null,
                    "created_at": null,
                    "updated_at": null
                  },
                  "business_names": [
                    {
                      "name": "Test Business",
                      "is_primary": false
                    },
                    {
                      "name": "Test Business",
                      "is_primary": true
                    }
                  ],
                  "business_addresses": [
                    {
                      "line_1": "480 s Ronald Reagan Blvd",
                      "apartment": null,
                      "city": "Longwood",
                      "state": "FL",
                      "country": "USA",
                      "postal_code": "32850",
                      "mobile": null,
                      "is_primary": true
                    }
                  ]
                },
                "data_cases": {
                  "id": "9068687a-3842-469f-84dd-bcd9dcc37ea3",
                  "applicant_id": "f83f60a0-55fc-4c30-a93b-8613f99a55e1",
                  "customer_id": "a2cdd2f9-bcb8-48d8-924b-7bf70d3f8a45",
                  "status": 3,
                  "created_at": "2024-11-26T09:32:38.620Z",
                  "created_by": "f83f60a0-55fc-4c30-a93b-8613f99a55e1",
                  "updated_at": "2024-11-26T09:32:38.620Z",
                  "updated_by": "f83f60a0-55fc-4c30-a93b-8613f99a55e1",
                  "business_id": "1f19291e-2d2c-4f05-bf61-c7888383ae3f",
                  "case_type": 1,
                  "assignee": null,
                  "assigner": null
                },
                "integration_data": {
                  "dba1_name": null,
                  "dba2_name": null,
                  "dba3_name": null,
                  "dba4_name": null,
                  "dba5_name": null,
                  "address1_line_1": null,
                  "address2_line_1": null,
                  "address3_line_1": null,
                  "address4_line_1": null,
                  "address5_line_1": null,
                  "address1_apartment": null,
                  "address2_apartment": null,
                  "address3_apartment": null,
                  "address4_apartment": null,
                  "address5_apartment": null,
                  "address1_city": null,
                  "address2_city": null,
                  "address3_city": null,
                  "address4_city": null,
                  "address5_city": null,
                  "state": "FL",
                  "address1_country": null,
                  "address2_country": null,
                  "address3_country": null,
                  "address4_country": null,
                  "address5_country": null,
                  "address1_postal_code": null,
                  "address2_postal_code": null,
                  "address3_postal_code": null,
                  "address4_postal_code": null,
                  "address5_postal_code": null,
                  "address1_mobile": null,
                  "address2_mobile": null,
                  "address3_mobile": null,
                  "address4_mobile": null,
                  "address5_mobile": null,
                  "id": null,
                  "name": "Test Business",
                  "tin": "333444685",
                  "address_line_1": "480 s Ronald Reagan Blvd",
                  "address_line_2": null,
                  "address_city": "Longwood",
                  "address_country": null,
                  "address_postal_code": "32850",
                  "mobile": null,
                  "official_website": null,
                  "naics_code": null,
                  "naics_title": null,
                  "mcc_code": null,
                  "industry": null,
                  "quick_add": null,
                  "external_id": "77388994455034",
                  "metadata": null,
                  "owner1_title": null,
                  "owner2_title": null,
                  "owner3_title": null,
                  "owner4_title": null,
                  "owner5_title": null,
                  "owner1_first_name": null,
                  "owner2_first_name": null,
                  "owner3_first_name": null,
                  "owner4_first_name": null,
                  "owner5_first_name": null,
                  "owner1_last_name": null,
                  "owner2_last_name": null,
                  "owner3_last_name": null,
                  "owner4_last_name": null,
                  "owner5_last_name": null,
                  "owner1_email": null,
                  "owner2_email": null,
                  "owner3_email": null,
                  "owner4_email": null,
                  "owner5_email": null,
                  "owner1_mobile": null,
                  "owner2_mobile": null,
                  "owner3_mobile": null,
                  "owner4_mobile": null,
                  "owner5_mobile": null,
                  "owner1_ssn": null,
                  "owner2_ssn": null,
                  "owner3_ssn": null,
                  "owner4_ssn": null,
                  "owner5_ssn": null,
                  "owner1_dob": null,
                  "owner2_dob": null,
                  "owner3_dob": null,
                  "owner4_dob": null,
                  "owner5_dob": null,
                  "owner1_address_line_1": null,
                  "owner2_address_line_1": null,
                  "owner3_address_line_1": null,
                  "owner4_address_line_1": null,
                  "owner5_address_line_1": null,
                  "owner1_address_line_2": null,
                  "owner2_address_line_2": null,
                  "owner3_address_line_2": null,
                  "owner4_address_line_2": null,
                  "owner5_address_line_2": null,
                  "owner1_address_city": null,
                  "owner2_address_city": null,
                  "owner3_address_city": null,
                  "owner4_address_city": null,
                  "owner5_address_city": null,
                  "owner1_address_state": null,
                  "owner2_address_state": null,
                  "owner3_address_state": null,
                  "owner4_address_state": null,
                  "owner5_address_state": null,
                  "owner1_address_postal": null,
                  "owner2_address_postal": null,
                  "owner3_address_postal": null,
                  "owner4_address_postal": null,
                  "owner5_address_postal": null,
                  "owner1_address_country": null,
                  "owner2_address_country": null,
                  "owner3_address_country": null,
                  "owner4_address_country": null,
                  "owner5_address_country": null,
                  "owner1_owner_type": null,
                  "owner2_owner_type": null,
                  "owner3_owner_type": null,
                  "owner4_owner_type": null,
                  "owner5_owner_type": null,
                  "owner1_ownership_percentage": null,
                  "owner2_ownership_percentage": null,
                  "owner3_ownership_percentage": null,
                  "owner4_ownership_percentage": null,
[...]
